# Add your Medium auth cookie as the value of `MEDIUM_COOKIE`
# You can get your cookie by opening https://medium.com and 
# using browser inspector tools. Your `USER_ID` from will be
# the `uid` value from your browser cookie, or can be found
# in the request header for any post requests in the XHR tab
# of the browser inspector tools.
MEDIUM_COOKIE=""
USER_ID=""
