# Add your Medium auth cookie as the value of `MEDIUM_COOKIE`
# You can get your cookie by opening https://medium.com and inserting
# this command into the JavaScript console: `document.cookie`
MEDIUM_COOKIE=""
USER_ID=""